* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
}
nav .fa-solid {
  display: none;
}
nav .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
}
nav .links li {
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
nav .links li:hover {
  border-bottom: 3px solid purple;
  cursor: pointer;
}
nav .links #dec {
  display: none;
}

.page {
  filter: blur(2px);
  position: relative;
}

.pop_up {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  width: 500px;
  height: 700px;
  top: 10%;
  align-self: center;
  display: none;
}
.pop_up .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
}
.pop_up .nav i {
  font-size: 30px;
  color: #252f65;
  cursor: pointer;
}
.pop_up .form {
  align-self: center;
  background-color: #6f3096;
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop_up .form form {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.pop_up .form form h1 {
  font-family: Merriweather;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: #6f3096;
}
.pop_up .form form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.pop_up .form form div label {
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  color: #252f65;
  text-align: left;
}
.pop_up .form form div input {
  height: 36px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #252f65;
}
.pop_up .form form div input::-moz-placeholder {
  padding-left: 5px;
  font-size: 20px;
}
.pop_up .form form div input:-ms-input-placeholder {
  padding-left: 5px;
  font-size: 20px;
}
.pop_up .form form div input::placeholder {
  padding-left: 5px;
  font-size: 20px;
}
.pop_up .form form div input:focus {
  font-size: 20px;
  font-weight: 700;
}
.pop_up .form form button {
  width: 50%;
  height: 60px;
  border-radius: 5px;
  background: #6f3096;
  border: none;
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.introduction {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.introduction .descriere {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.introduction .descriere h1 {
  font-family: Merriweather;
  font-size: 43px;
  font-weight: 900;
  line-height: 52px;
  color: #252f65;
  inline-size: 600px;
}
.introduction .descriere p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  inline-size: 450px;
}
.introduction .descriere button {
  background: #6f3096;
  color: white;
  border-radius: 5px;
  padding: 20px 50px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: Merriweather;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: none;
}

.upload {
  background-color: #6f3096;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.upload .text h1 {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  inline-size: 400px;
}
.upload .text p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
  inline-size: 300px;
}
.upload .bgw {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 400px;
  width: 850px;
  border-radius: 20px;
}
.upload .bgw .text {
  padding: 0 40px;
}
.upload .bgw .text h1 {
  inline-size: 400px;
}
.upload .bgw .text p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
}
.upload .bgw .send {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.upload .bgw .send .descriere {
  border: 1px solid #06114f;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  text-align: left;
  padding-left: 10px;
}
.upload .bgw .send .descriere::-moz-placeholder {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(6, 17, 79, 0.3);
}
.upload .bgw .send .descriere:-ms-input-placeholder {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(6, 17, 79, 0.3);
}
.upload .bgw .send .descriere::placeholder {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(6, 17, 79, 0.3);
}
.upload .bgw .send .drop-zone {
  height: 140px;
  width: 300px;
  border: 1px solid #06114f;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload .bgw .send .drop-zone p {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  inline-size: 230px;
  color: rgba(6, 17, 79, 0.3);
}
.upload .bgw .send .drop-zone .drop {
  display: none;
}
.upload .bgw .send button {
  background: #6f3096;
  color: white;
  border-radius: 5px;
  padding: 5px 25px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: none;
}

.colection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 10px;
  gap: 30px;
}
.colection h1 {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  padding-left: 50px;
  color: #252f65;
}
.colection .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.footer {
  background: #06114f;
  color: white;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.footer .icons {
  display: flex;
  gap: 10px;
}
.footer .icons a i {
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.footer p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav {
    padding: 5px 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  nav .logo {
    padding-left: 10px;
  }
  nav .logo img {
    aspect-ratio: 1/1;
    width: auto;
  }
  nav .fa-solid {
    display: block;
    color: #263238;
    font-size: 35px;
    padding-right: 10px;
  }
  nav .links {
    display: none;
  }
  .responsive {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .responsive .links {
    display: block;
    width: 100%;
    gap: 50px;
  }
  .responsive .links li {
    font-size: 25px;
  }
  .responsive .links li:nth-child(1) {
    margin-bottom: 10px;
  }
  .responsive .links #reg {
    margin-bottom: 10px;
  }
  .pop_up {
    width: 100%;
    height: 700px;
    top: 0;
    justify-content: center;
  }
  .pop_up .form {
    width: 100%;
    height: 700px;
  }
  .pop_up .form form {
    width: 85%;
    height: 80%;
    gap: 50px;
  }
  .pop_up .form form h1 {
    top: 0;
  }
  .pop_up .form form input {
    height: 40px;
  }
  .pop_up .form form button {
    width: 70%;
  }
  .introduction {
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 90px;
    box-sizing: border-box;
    width: 100%;
  }
  .introduction .descriere {
    gap: 30px;
  }
  .introduction .descriere h1 {
    font-size: 28px;
    inline-size: 280px;
    line-height: 33px;
  }
  .introduction .descriere p {
    inline-size: 330px;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .introduction img {
    aspect-ratio: 1/1;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .upload {
    text-align: left;
    height: 700px;
  }
  .upload .bgw {
    flex-direction: column;
    justify-content: center;
    width: 325px;
    height: 600px;
    text-align: left;
    gap: 40px;
  }
  .upload .bgw .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: center;
    text-align: center;
    padding: 0;
  }
  .upload .bgw .text h1 {
    font-size: 20px;
    inline-size: 250px;
    text-align: center;
  }
  .upload .bgw .text p {
    text-align: center;
  }
  .upload .bgw .send {
    flex-direction: column;
    justify-content: flex-start;
  }
  .upload .bgw .send .descriere {
    width: 280px;
  }
  .upload .bgw .send .drop-zone {
    width: 280px;
    text-align: left;
  }
  .upload .bgw .send button {
    align-self: center;
  }
  .colection {
    justify-content: center;
    align-items: center;
  }
  .colection .images {
    gap: 50px;
  }
  .colection .images img {
    aspect-ratio: 1/1;
    width: 90%;
  }
  .footer p {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */